.container {
    align-items: center;
    background: #35524A;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}